*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
#main{
    background-image: url(./pictures/Photography.jpg);
    height:100vh;
    background-size: cover;
}

.btn{
    position: absolute;
    font-size:30px;
    left:15px;
    line-height: 60px;
}
.btn2{
    color: red;
    font-size:22px;
    left:15px;
    position: absolute;
    line-height: 60px;
    left: 270px;
    opacity: 0.8;
}
.sidebar{
    position: absolute;
    height:100vh;
    width:300px;
    background-color: rgba(0,0,0,0.1);
    box-shadow: 4px 4px 8px gray;
    border-radius: 20px;
    left:-300px;
    transition: all 0.5s linear;
}
.sidebar .logo a{
    position: absolute;
    width: 300px;
    text-align: center;
    border-radius: 15px;
    font-size: 20px;
    font-weight: 700;
    color:  black;
    text-decoration: none;
    line-height: 60px;
    box-shadow: 1px 1px 3px gray;

}
.sidebar .menu{
    position: absolute;
    width: 100%;
    
    top:80px;
   
}
.sidebar .menu li{
    margin: 2px 5px;
    padding: 7px 20px;
}
.sidebar .menu i,a{
    color: rgb(5, 20, 131);
    font-size: 25px;
    text-decoration: none;
    text-align: start;

}
.sidebar .menu li:hover{
    box-shadow: 2px 2px 4px pink;
    width: 250px;

}

.sidebar .menu i{
    padding: 10px;
}
.sidebar .social_media i{
    color: rgb(255, 87, 87);
    box-shadow: 2px 2px 4px blue;
    margin: 5px;
}
#check{
    display: none;
}
.sidebar .social_media i:hover{
    color: blue;
    box-shadow: 3px 3px 6px red;
    transform: scale(1.3);
}
#check:checked ~ .sidebar {
    left:0;

}
#check:checked ~ .btn{
    opacity: 0;
} 
